## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)

####https://ithelp.ithome.com.tw/articles/10193421

In [9]:
import os
import numpy as np
import pandas as pd

In [6]:
# 設定 data_path
dir_data = './data/'

In [7]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [15]:
?pd.read_csv

app_train.shape

(307511, 122)

#### 列出所有欄位

In [11]:
app_train.columns

app_train.columns.tolist()

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

#### 截取部分資料

In [23]:
app_train['TARGET'][0:4]

0    1
1    0
2    0
3    0
Name: TARGET, dtype: int64

In [26]:
app_train.tail(3)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [25]:
app_train.head(3)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 資料刪除(刪除NaN的資料)

In [27]:
app_train1=app_train.dropna()

#### 資料排序

In [28]:
app_train.sort_values("AMT_INCOME_TOTAL")

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1678,101965,0,Cash loans,F,N,N,0,25650.0,158148.0,5809.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
20727,124157,1,Cash loans,F,Y,Y,0,25650.0,2173500.0,48118.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
240137,378118,0,Cash loans,F,N,N,0,26100.0,90000.0,4329.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
186643,316377,0,Cash loans,F,N,N,0,26100.0,54000.0,5391.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246104,384810,0,Cash loans,F,N,Y,0,26100.0,173092.5,12438.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
132707,253920,0,Cash loans,F,N,Y,0,26460.0,101880.0,6763.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
262748,404212,0,Cash loans,F,N,N,2,26550.0,101880.0,10053.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
175433,303289,0,Cash loans,F,Y,Y,0,26550.0,571500.0,16281.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4735,105537,0,Cash loans,M,N,Y,0,27000.0,284400.0,9211.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
187572,317441,0,Cash loans,F,N,N,0,27000.0,360000.0,13059.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
292142,438440,0,Cash loans,F,N,Y,1,27000.0,480060.0,23476.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
124146,243970,0,Cash loans,F,N,Y,0,27000.0,71955.0,7245.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
125059,245029,0,Cash loans,F,N,N,1,27000.0,343800.0,13090.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10585,112330,0,Cash loans,F,N,N,0,27000.0,225000.0,9531.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
62585,172587,0,Cash loans,M,N,N,0,27000.0,229230.0,13158.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
173546,301115,0,Cash loans,F,Y,N,0,27000.0,760225.5,32337.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
83674,197045,0,Cash loans,F,N,N,2,27000.0,269550.0,14751.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
267037,409387,0,Cash loans,F,N,N,0,27000.0,135000.0,8154.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
90900,205539,0,Cash loans,F,N,N,1,27000.0,343800.0,16024.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
277924,422021,0,Cash loans,F,Y,N,1,27000.0,152820.0,15016.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
232535,369333,0,Cash loans,F,N,Y,0,27000.0,255960.0,14422.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
163569,289613,0,Cash loans,F,N,N,0,27000.0,238896.0,13842.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,2.0
133737,255107,0,Cash loans,F,N,N,0,27000.0,159264.0,4959.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
299307,446748,0,Cash loans,F,Y,N,2,27000.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
205513,338222,0,Revolving loans,F,Y,Y,0,27000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,0.0
162772,288702,0,Cash loans,F,N,Y,0,27000.0,360000.0,20794.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
239654,377515,0,Cash loans,F,N,Y,0,27000.0,182016.0,6858.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199006,330720,0,Cash loans,F,N,Y,1,27000.0,450000.0,22018.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
36856,142688,0,Cash loans,F,N,N,0,27000.0,123637.5,8604.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
293194,439670,0,Cash loans,F,N,Y,1,27000.0,675000.0,19867.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29737,134526,0,Revolving loans,M,N,N,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
74781,186724,0,Revolving loans,F,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
71637,183074,0,Revolving loans,F,N,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
81185,194130,0,Revolving loans,F,Y,N,0,2250000.0,2250000.0,112500.0,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
55329,164105,0,Revolving loans,M,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
10222,111903,0,Revolving loans,M,N,Y,3,2250000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
278212,422344,0,Cash loans,M,Y,Y,0,2250000.0,1506816.0,49927.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
206814,339713,0,Cash loans,F,N,Y,0,2250000.0,976077.0,52132.5,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
201855,333985,0,Cash loans,F,Y,N,0,2250000.0,1542645.0,62829.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
145673,268905,0,Revolving loans,M,Y,N,0,2250000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
298082,445335,0,Cash loans,M,Y,Y,0,2475000.0,1125000.0,47794.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
258773,399467,0,Revolving loans,M,Y,Y,2,2700000.0,180000.0,9000.0,...,0,0,0,0,0.0,2.0,0.0,0.0,0.0,1.0
107926,225210,0,Cash loans,M,Y,Y,0,2930026.5,900000.0,36657.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
101007,217276,0,Revolving loans,M,Y,Y,0,3150000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
248159,387126,1,Cash loans,F,Y,Y,1,3150000.0,900000.0,48825.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
86026,199821,0,Cash loans,M,Y,Y,1,3375000.0,900000.0,46084.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
82846,196091,0,Cash loans,F,N,Y,1,3375000.0,900000.0,40801.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
284311,429258,0,Cash loans,M,Y,N,0,3600000.0,1113840.0,44302.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
49645,157471,0,Cash loans,F,Y,N,0,3600000.0,953460.0,68791.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
20216,123587,0,Cash loans,M,Y,N,0,3825000.0,1241023.5,117369.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
181698,310601,0,Cash loans,M,Y,Y,1,3950059.5,675000.0,66217.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
287463,432980,0,Cash loans,M,Y,Y,0,4500000.0,1755000.0,61132.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
187833,317748,0,Cash loans,M,N,N,0,4500000.0,835380.0,42651.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
103006,219563,0,Revolving loans,M,Y,Y,0,4500000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
204564,337151,0,Cash loans,M,N,N,0,4500000.0,450000.0,47749.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
131127,252084,0,Cash loans,M,Y,N,0,6750000.0,790830.0,52978.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
77768,190160,0,Cash loans,F,Y,N,0,9000000.0,1431531.0,132601.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
246858,385674,0,Cash loans,M,Y,Y,0,13500000.0,1400503.5,130945.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
203693,336147,0,Cash loans,M,Y,Y,2,18000090.0,675000.0,69295.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12840,114967,1,Cash loans,F,N,Y,1,117000000.0,562491.0,26194.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0